@import "tailwindcss";
@plugin "daisyui";

:root {
  --header-height: 80px;
}

@plugin "daisyui/theme" {
  name: "biotips";
  default: true;
  prefersdark: false;
  color-scheme: light;

  --color-primary: #b91c1c; /* red-700 */
  --color-primary-content: #ffffff;

  --color-secondary: #2563eb;
  --color-accent: #14b8a6;

  --color-neutral: #101113;
  --color-neutral-content: #f9fafb;

  --color-base-100: #ffffff;
  --color-base-200: #f7f7f4;
  --color-base-300: #ecece7;
  --color-base-content: #101113;

  --color-info: #2563eb;
  --color-success: #16a34a;
  --color-warning: #d97706;
  --color-error: #dc2626;

  --radius-box: 1.5rem;
  --radius-btn: 0.875rem;
  --radius-badge: 1rem;
}